<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeMage - Generate Code Snippets</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to CodeMage</h1>
        </div>
        <div class="form-container">
            <form action="/" method="post">
                <label for="problem_description">Describe your coding problem:</label><br>
                <textarea id="problem_description" name="problem_description" rows="4" cols="50"></textarea><br>
                <button type="submit">Generate Code</button>
            </form>
        </div>

    {% if submitted %}
        <!-- Display the generated code -->
            <div class="generated-code">
                <h2>Generated Code for:</h2>
                <p>{{ problem_description }}</p>
                <pre><code>{{ generated_code }}</code></pre>
            </div>
        
        <!-- Feedback Form -->
        <h2>Feedback on Generated Code</h2>
        <form action="/submit_feedback" method="post">
            <input type="hidden" name="problem_description" value="{{ problem_description }}">
            <input type="hidden" name="generated_code" value="{{ generated_code }}">
	        <label>
		        <textarea name="feedback" rows="4" cols="50" placeholder="Enter your feedback here..."></textarea>
	        </label><br>
            <input type="submit" value="Submit Feedback">
        </form>
    {% endif %}
    </div>
</body>
</html>